p {
  margin: 0;
}

select {
  margin: 40px auto;
  display: block;
}

option:first-child::selection {
  background: lightblue;
}

option:first-child {
  color: gray;
}

option:checked {
  background-color: lightgray;
}

.plot-tooltip {
  border-radius: 5px;
  background-color: white;
  font-size: small;
  text-align: justify;
  padding: 10px;
  width: 200px;
  height: 100px;
  position: absolute;
  display: none;
}