:root {
  --grid: 4;
}
p {
  margin: 0;
}

select {
  margin: 40px auto;
  display: block;
}

#show-mst {
  display: flex;
  justify-content: center;
  align-items: center;
}

option:first-child::selection {
  background: lightblue;
}

option:first-child {
  color: gray;
}

option:checked {
  background-color: lightgray;
}

.plot-tooltip {
  border-radius: 5px;
  background-color: white;
  font-size: small;
  padding: 10px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.12) 3px 4px 2px;
  display: none;
}

td:nth-child(2n) {
  text-align: right;
}

#plotContainer {
  display: grid;
  grid-template-columns: var(--grid);
  grid-template-rows: var(--grid);
  max-width: 100vw;
  max-height: 100vh;
}
